<h1>Detalle Cliente</h1>

<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.activo }}</td>
        </tr>
    </tbody>
</table>

<p><a href="{% url 'WebApp:cliente_listar' %}">Listado de clientes</a></p>