<h1>Listado de clientes</h1>

<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in listado_clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.activo }}</td>
            <td>
                <a href="{% url 'WebApp:cliente_detalle' cliente.id %}">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if listando_inactivos %}
<p><a href="{% url 'WebApp:cliente_listar' %}">Listar activos</a></p>
{% else %}
<p><a href="{% url 'WebApp:cliente_listar_inactivos' %}">Listar inactivos</a></p>
{% endif %}