<h1>Listado de Servicios</h1>

<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in listado_servicios %}
        <tr>
            <td>{{ servicio.id }}</td>
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.descripcion }}</td>
            <td>$ {{ servicio.precio }}</td>
            <td>
                <a href="{% url 'WebApp:servicio_detalle' servicio.id %}">Ver</a>
                <a href="{% url 'WebApp:servicio_editar' servicio.id %}">Editar</a>
            {% if listando_inactivos %}
                <a href="{% url 'WebApp:servicio_cambiar_estado' servicio.id %}">Restaurar</a>
            {% else %}
                <a href="{% url 'WebApp:servicio_cambiar_estado' servicio.id %}">Eliminar</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if listando_inactivos %}
<p><a href="{% url 'WebApp:servicio_listar' %}">Listar activos</a></p>
{% else %}
<p><a href="{% url 'WebApp:servicio_listar_inactivos' %}">Listar inactivos</a></p>
{% endif %}