.card-header {
    background-color: var(--main-color);
    color: white;
}
.card-footer.bg-light {
    border-top: 2px solid var(--main-color);
}
.table-actions a {
    margin: 0 2px;
}
.btn-sm {
    font-size: 0.8rem;
}
.empty-state {
    text-align: center;
    padding: 3rem 1rem;
    color: #6c757d;
}
.empty-state i {
    font-size: 4rem;
    margin-bottom: 1rem;
    opacity: 0.5;
}

.btn-outline-primary {
    border-color: #3d8bfd;
    color: #3d8bfd;
}

.btn-outline-primary:hover {
    background-color: rgba(61, 139, 253, 0.6);
    border-color: rgba(61, 139, 253, 0.85);
    color: white;
}

.btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: rgba(108, 117, 125, 0.2);
    color: black;
}

.btn-outline-danger:hover {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
}

.table-hover tbody tr:hover {
    background-color: rgba(var(--main-color-rgb), 0.05);
}

.card-footer.bg-light {
    border-top: 2px solid rgba(var(--main-color-rgb), 0.6);
}

.link-sin-estilo {
    color: inherit;
    text-decoration: none;
}

.link-sin-estilo:hover {
    text-decoration: underline; /* Opcional: si quieres que se subraye al pasar el mouse */
    color: var(--main-color-dark); /* o el color que quieras */
}